* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* Signup, login Setup  */
#signup, #login, #buy{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#signdiv{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
    position: relative;
}
#signdiv .signform{
    display: flex;
    flex-direction: column;
}
#signdiv label{
    margin: 10px 0 5px;
    font-weight: bold;
}
#signdiv input, select{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none; 
    width: 100%;
}
#signdiv input:focus{
    border-color: #218838;  
    box-shadow: 0 0 5px rgba(0, 255, 76, 0.5);
}
#signdiv .submit, .gohome{
    margin-top: 2%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}
#signdiv .submit:hover, .gohome:hover{
    background-color: #218838;
    font-weight: bold;
}
.gohome{
    position: absolute;
    top: 0%;
    right: 0.1%;
    padding: 10px 20px;
    z-index: 3;
}
/* Mobile Section =============================== */
.banner {
    width: 100%;
    position: relative;
    padding: 50px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(120deg, #229799, #203a43, #2c5364);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.banner #img {
    position: absolute;
    left: 10px;
    width: 300px;
    height: auto;
    top: 0;
}
#sale{
    position: absolute;
    width: 200px;
    height: auto;
    top: 20%;
    right: 10%;    
}
.banner p {
    font-size: 18px;
    color: #ccc;
}
.highlight {
    color: salmon;
    font-weight: 600;
}
.product-container{
    display: flex;
    flex-wrap: wrap; 
    gap: 50px;
    justify-content: center;
    background-color: #ede9e9;

}
.card{
    font-size: 0.9em;
    width:45%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
    color: red;
}
.card #flex{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    position: relative;
}
.productimg{
    width: 300px;
    height: 300px;
}
/* laptop section  */
.laptopimg{
    width: 300px;
}
/* Shoes Section  */
.shoeimg{
    width: 300px;

}
#card{
    overflow: hidden;
}
#fashionimg{
    width: 300px;
    position: absolute;
    left: 5%;
    bottom: 0px;
}
.fashionimg{
    width: 300px;
    height: 300px;
}
/* ================== */
button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);

  }
  
  button:hover {
    background: #218838;
  }
img{
    transition: transform 0.5s ease-in-out ;
    overflow: hidden;
}

/* watch seciton  */
#watchimg{
    width: 400px;
    position: absolute;
    left: 10%;
}
/* Navbar CSS  */
/* =========================================vij======================== */
.ulTag li{
    transition:color 0.1s ease-in-out;
    position:relative;
    padding: 0 10px;
    z-index: 1;
}
.ulTag .submit{
    text-decoration: none;
    color: black;
}
.ulTag li:hover{
    color: white;
}
.ulTag li::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #218838;
    border-radius: 10px;
    transition: width 0.6s ease-in-out;
}
.ulTag li:hover::after{
    width: 100%;
}
/* =========================================vij======================== */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    line-height: 80px;
    color: black;
}

nav div{
    line-height: 100px;
}
nav span{
    font-size: 30px;
    letter-spacing: 5px;
    color: black;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    
}
nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px !important;
    gap: 5px;
    transition: all 2s ease;
}
nav li:hover{
    transform: scale(1.1);
}

nav div input, nav div button{
    border-radius: 8px; 
    padding: 10px 15px; 
    line-height: 1.5;  
    border: 1px solid #ccc;  
    font-size: 16px;  
    transition: all 0.3s ease-in-out;  
}

nav div input {
    width: 70%; 
    outline: none; 
}

nav div input:focus {
    border-color: #218838;  
    box-shadow: 0 0 5px rgba(0, 255, 76, 0.5);
}
.username{
    display: flex;
    justify-content: end;
    padding: 0 1%;
    color: salmon;
}

#hero{
    background-color: #ccc;
}
#hero .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 15px;
}

#hero .container div img{
    width: 150px;
    height: 150px;
}
#hero .container div:hover img{
    transform: scale(1.05);
}
#hero .container div h3{
    font-size: medium;
}
#hero .banner img{
    width: 100%;
    height: 500px;
}
.container-fluid{
    margin: 10px;
}
.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

#deal {
    background-color: white;

}

.color{
    height: 10px;
    background-color: #ccc;
}
#deal h3{
    padding: 2%;
}
#deal .container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px
    ;}
#deal .container div{
    display: flex;
    flex-direction: column;
}
#deal .container img{
    width: 200px;
    height: 200px;
}

#pick {
    width: 100%;
    background-color: #ccc;
    padding: 1% 0;
}
#pick h2{
    padding: 5px;
}
#pick .container{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

#pick .item {
    padding: 1%;
    display: flex;
    line-height: 30vh;
    gap: 10px;
}

#pick .item div div{
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    background-color:white;
}
#pick img{
    width: 220px;
    height: 200px;
    transition: transform 0.3s  ease-in-out;
}
.item div div:hover img{
    transform: scale(1.07);
}
#pick .fashion{
    position: relative;
    text-align: center;
    width: 100%;
    height: 600px;
}




.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); 
}
.fashion h2, .fashion button{
    left: 0px;
    bottom: 0;
    width: 100%;
    position: absolute;
}
.fashion h2{
    bottom: 5%;
    left: 0%;
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    font-size: large;
}
.fashion h2 span{
    font-size: 25px;
    color: #6cccff;
}
.fashion #animation{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  box-shadow: 2px 2px 4px 3px;
    border: 1px solid black;
    animation: animee 20s linear infinite;
  }
  @keyframes animee {
    0%{
      background-image: url(fas1.jpg);
      background-size: cover;
    }
    35%{
      background-image: url(fas2.jpg);
      background-size: cover;
    }
    70%{
      background-image: url(fas3.jpg);
      background-size: cover;
    }
    100%{
      background-image: url(fas4.png);
      background-size: cover;
    }

    
  }

#product .container{
    display: flex;
}
#product .container .content{
    width: 33%;
    height: 250px;
    background-color: #229799;
    display: flex;
    align-items: center;
    margin: 2% 1%;
    border: 2px solid black;
    justify-content: space-evenly;
    padding: 1%;
}

#product .container .content img {
    width: 200px;
    transition: transform 0.3s  ease-in-out;
}
#product .container .content #inc{
    width: 90%;
}
#product .container .content:hover img {
    transform: scale(1.10);
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
}
footer .container{
    padding:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: start;
}
footer .container .about{
    flex-basis: 20%;
}
footer ul{
    list-style: none;
    font-size: large;
}
footer .icon a{
    font-size: 30px;    
}
footer a{
    color: white;
    text-decoration: none;

}
footer .copyright{
    display: flex;
    padding: 10px;
    justify-content: center;
}

img:hover{
    transform: scale(1.05);
}